<%- include("partials/header") -%>

<div class="container">

      <div class="jumbotron mt-3 faq-qs">
        <h1>Where your library is located?</h1>
        <p class="lead">We are the largest library in Brisbane. You can easily find us. Our exact address is 25 Apulia Place,Brisbane, 4035, Australia.</p>
      </div>

      <div class="jumbotron mt-3 faq-qs">
        <h1>Will you deliver books?</h1>
        <p class="lead">No, We are currently not doing book delivaries.</p>
      </div>

      <div class="jumbotron mt-3 faq-qs">
        <h1>Can I borrow multiple books at the same time?</h1>
        <p class="lead">You can borrow upto 05 books from us at a time.</p>
      </div>

      <div class="jumbotron mt-3 faq-qs">
        <h1>What if I lost a borrowed book?</h1>
        <p class="lead">You'll have to buy us same book, same edition + 2*(current market price of the book) as a fine or You should pay 4*(current market price of the book).</p>
      </div>

      <div class="jumbotron mt-3 faq-qs">
        <h1>If I was raised with a problem, What should I do?</h1>
        <p class="lead">We have a friendly staff which you can meet any time in the day at out office.</p>
      </div>

    </div>


<%- include("partials/footer") -%>
