<%- include("partials/header") -%>

  <div class="container-sm text-center">

    <h1>
      Thank you for using Alisha Libraries!
    </h1>

    <h3>
      Now you are successfully logged out from our website.
    </h3>

    Want any help? Contact us <a href="/about"> here </a>.
  </div>

<%- include("partials/footer") -%>
