<%- include("partials/header") -%>

   <div style='text-align: center;'>
     <h1 style='padding-top: 3%;'> You don't have permission to see this page!
     </h1>
     <br>
     <h2 style='margin-top: 0;'>
       Please
       <a href='/login'>
         login
       </a>
     </h2>
   </div>

<%- include("partials/footer") -%>
